<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="" class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">
                            Alta de Persona
                        </h4>
                        <div class="mb-3 row">
                            <label for="" class="col-sm-3 text-end control-label col-form-label">
                                Primer Nombre
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="validationServer03" class="col-sm-3 text-end control-label col-form-label">
                                Segundo Nombre
                            </label>
                            <div class="col-sm-9">
                                <input type="text" id="validationServer03" class="form-control"
                                    aria-describedby="validationServer03Feedback">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Looks bad!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="" class="col-sm-3 text-end control-label col-form-label">
                                Primer Apellido
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="" class="col-sm-3 text-end control-label col-form-label">
                                Segundo Apellido
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="" class="col-sm-3 text-end control-label col-form-label">
                                Correo
                            </label>
                            <div class="col-sm-9 input-group">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>